[
	{kernel, [
		{inet_default_listen_options, [{nodelay, true}]},
		{inet_default_connect_options, [{nodelay, true}]},
		{error_logger, {file, "./rabbitmq_server-kernel.log"}}]},
	{sasl, [
		{errlog_type, error},
		{sasl_error_logger, {file, "./rabbitmq_server-sasl.log"}}]},
	{os_mon, [
		{start_cpu_sup, true},
		{start_disksup, false},
		{start_memsup, false}]},
	{mnesia, [
		{dir, "./rabbitmq_server-mnesia.db"}]},
	{rabbit, [
		{tcp_listeners, [{"0.0.0.0", 5672}]}]}
].
