[
	{sasl, [
		{errlog_type, error}]},
	{os_mon, [
		{start_cpu_sup, true},
		{start_memsup, true},
		{start_disksup, true},
		{start_os_sup, false}]},
	{mnesia, [
		{dir, "/tmp/mosaic-components-httpg/store/mnesia.db"}]},
	{rabbit, [
		{tcp_listeners, [{"127.0.0.1", 5672}]},
		{collect_statistics, fine}]},
	{rabbit_management_agent, [
		{force_fine_statistics, true}]},
	{rabbit_mochiweb, [
		{port, 55672}]},
	{rabbit_management, [
		{http_log_dir, none}]}
].
