[
	{mosaic_httpg, [
		{misultin_adapter, [
			{tcp_listener, {"0.0.0.0", 8080}}]},
		{amqp_dispatcher, [
			{broker_host, {"127.0.0.1", 5672}},
			{broker_credentials, {<<"/">>, <<"guest">>, <<"guest">>}},
			{requests_exchange, <<"mosaic-http-requests">>},
			{responses_exchange, <<"mosaic-http-responses">>}]}]},
	
	{rabbit, [
		{tcp_listeners, [{"0.0.0.0", 5672}]},
		{collect_statistics, fine},
		{print_progress, false},
		{management_enabled, true},
		{default_user, <<"guest">>},
		{default_pass, <<"guest">>},
		{default_vhost, <<"/">>},
		{default_user_is_admin, true},
		{default_permissions, [<<".*">>, <<".*">>, <<".*">>]}]},
	
	{rabbit_management_agent, [
		{force_fine_statistics, true}]},
	
	{rabbit_mochiweb, [
		{port, 9090}]},
	
	{rabbit_management, [
		{http_log_dir, none}]},
	
	{mnesia, [
		{schema_location, opt_disc},
		{dir, "/tmp/mosaic-httpg/mnesia"},
		{core_dir, "/tmp/mosaic-httpg/mnesia"}]},
	
	{kernel, [
		{error_logger, tty}]},
	
	{sasl, [
		{sasl_error_logger, false},
		{errlog_type, error}]},
	
	{os_mon, [
		{start_cpu_sup, false},
		{start_memsup, false},
		{start_disksup, false},
		{start_os_sup, false}]}
].
