[
	{mosaic_httpg, [
		{identifier, "0000000000000000000000000000000000000000"},
		{group, "0891f3a4b73a16cc5ac6947c56924d3e1dd2395e"},
		{gateway_ip, undefined},
		{gateway_port, undefined},
		{broker_group, "8cd74b5e4ecd322fd7bbfc762ed6cf7d601eede8"},
		{broker_ip, undefined},
		{broker_port, undefined},
		{broker_virtual_host, <<"/">>},
		{broker_username, <<"guest">>},
		{broker_password, <<"guest">>},
		{gateway_requests_exchange, <<"mosaic-http-requests">>},
		{gateway_responses_exchange, <<"mosaic-http-responses">>}]},
	
	{mosaic_component, [
		{callbacks, mosaic_httpg_callbacks},
		{harness_input_descriptor, undefined},
		{harness_output_descriptor, undefined}]},
	
	{kernel, [
		{error_logger, tty}]},
	
	{sasl, [
		{sasl_error_logger, tty},
		{errlog_type, error}]},
	
	{os_mon, [
		{start_cpu_sup, false},
		{start_memsup, false},
		{start_disksup, false},
		{start_os_sup, false}]}
].
